@value breakpoints: "../../styles/breakpoints.css";
@value tablet from breakpoints;

.main {
  margin: 0 auto;
  max-width: var(--max-content-width);
  min-height: 100%;
  padding-bottom: 3rem;
}

.container {
  padding: 0 0.75rem;
}

@media tablet {
  .container {
    padding: 0 1rem;
  }
}
