@value breakpoints: "../../styles/breakpoints.css";
@value tablet from breakpoints;

.portfolioItemDetails {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid var(--light-grey);
}

@media tablet {
  .portfolioItemDetails {
    margin-top: 4rem;
    padding-top: 4rem;
  }
}
