:root {
  --max-content-width: 1200px;
  --border-radius: 3px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --black: #000000;
  --white: #ffffff;
  --light-grey: #d3d3d3;
  --medium-grey: #bbbbbb;
  --dark-grey: #222;

  --lemon-chiffon: #fbf8cc;
  --champagne-pink: #fde4cf;
  --tea-rose-red: #ffcfd2;
  --pink-lavender: #f1c0e8;
  --mauve: #cfbaf0;
  --jordy-blue: #a3c4f3;
  --non-photo-blue: #90dbf4;
  --electric-blue: #8eecf5;
  --aquamarine: #98f5e1;
  --celadon: #b9fbc0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--black);
  background: var(--white);
  font-size: 1.25rem;
  color: var(--dark-grey);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.75em 0;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1em;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 1.125rem;
  line-height: 1.8em;
}
