@value breakpoints: "../../styles/breakpoints.css";
@value tablet from breakpoints;

.header {
  padding: 2.5rem 0;
  margin-bottom: 3rem;
  text-align: center;
  border-bottom: 1px solid var(--light-grey);
}

@media tablet {
  .header {
    padding: 3rem 0;
    margin-bottom: 4rem;
  }
}

.linkToHome {
  text-align: left;
  transform: translateY(-1.5rem);
}

.linkToHome::before {
  content: "←";
  margin-right: 0.25rem;
}
