.gridContainer {
  display: flex;
  width: 15rem;
  flex-wrap: wrap;
  background-color: var(--light-grey);
}

.gridItem {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--white);
}

.visited {
  background-color: blue;
}
