.gridContainer {
  display: flex;
  width: 20rem;
  flex-wrap: wrap;
  background-color: var(--pink-lavender);
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--champagne-pink);
  /* text-align: center; */
  font-weight: bold;
  /* opacity: 0.7; */
  font-size: 1.25rem;
  cursor: pointer;
}

.visited {
  background-color: var(--mauve);
}

.toolBar {
  display: flex;
  margin-bottom: 1rem;
}

.toolBarButton {
  background-color: var(--light-grey);
  border: none;
  width: 2rem;
  height: 2rem;
  margin: 0 1px;
}

.selected {
  background-color: var(--medium-grey);
}
