@value breakpoints: "../../styles/breakpoints.css";
@value tablet from breakpoints;

.main {
  margin: 0 auto;
  max-width: var(--max-content-width);
  min-height: 100%;
  padding-bottom: 3rem;
}

.container {
  padding: 0 0.75rem;
}

.navbar {
  padding: 0 0.5rem;
  margin: 1rem 0 0 0;
  border-bottom: 1px solid var(--light-grey);
}

.navbar ul {
  display: flex;
}

.navbar li {
  list-style-type: none;
  padding: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@media tablet {
  .container {
    padding: 0 1rem;
  }
}
